body {
  font-family: sans-serif;

  a {
    text-decoration: none;
  }

  label {
    display: block;
  }

  nav a {
    display: inline-block;
    margin: 1em;
  }

  form div {
    margin: 1em;
    display: inline-block;
  }
}

nav>h1 {
  display: inline;
}
.addToCart {
  float: right;
}

.clearleft{
  clear: left;
}

.shoppingCartCount{
  font-size:15px;
  color:red;
  font-weight: bold;
  position: absolute;
  top: 0;
  left: 15px;
}

.logo {
  float: left;
  height: 150px;
  width: 150px;
}

img {
  max-width: 100%;
  height: auto;
}

.right {
  float: right;
}

.productImage {
  float: left;
  height: 200px !important;
  width: 200px;
}

.flex {
  display: flex;
}

.navGlyph{
  font-size:35px;
}

#shoppingCart {
  color: #333333;
  padding: 10px 0 0 0;
  margin: 0;
  position: absolute;
  right: 5%;
  top: 70%;
}

#home{
  margin: 0;
}

#accountPage {
  position: absolute;
  margin: 0;
  top: 75%;
  left: 90%;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
            cursor:pointer;
            overflow: hidden;

}

.productPrice{
  font-weight: bold;
  font-size: 20px;
}

.dropdownContent {
    transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
    position: absolute;
    right: 7%;
    top: 100%;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdownContent a {
    min-width: 70px;
    min-height: 5px;
    color: black;
    padding: 2%;
    text-decoration: none;
    display: block;
}


// #signout{
//   position: absolute;
//   margin: 0;
//   top: 75%;
//   left: 53%;
// }

a {
  margin: 0;
}

.relative{
  position:relative;
}

.bottom {
  position: absolute;
  bottom: 0;
}

.borderedForm {
  border: 1px solid black;
  padding: 10px;
}

.productItem {
  margin-bottom: 4%;
}

nav>h2{
  display:inline;
}

nav{
  background-color: lightgrey
}

.clearfix {
  clear: both;
}

.inline {
  display: inline
}

.nav-div {
  display: inline
}

.right {
  float: right;
}

.left {
  float: left;
}

.needSpaceRight {
  margin: 0 20px 0 0;
}

.needTinySpaceLeft {
  margin: 0 0 0 20px;
}

.needSpaceLeft {
  margin: 0 0 0 40px;
}

.needSpaceBelow {
  margin: 0 0 20px 0;
}
