body {
  font-family: sans-serif;

  a {
    text-decoration: none;
  }

  label {
    display: block;
  }

  nav a {
    display: inline-block;
    margin: 1em;
  }

  form div {
    margin: 1em;
    display: inline-block;
  }
}
nav>h1 {
  display: inline;
}
.addToCart {
  float: right;
}

.img {
  max-width: 100%;
  height: auto;
}

.right {
  float: right;
}

.productImage {
  float: left;
  height: 200px;
  width: 200px;
}

.borderedForm {
  border: 1px solid black;
  padding: 10px;
}

.productItem {
  margin-bottom: 10px;
}

.clearfix {
  clear: both;
}

.inline {
  display: inline
}

.nav-div {
  display: inline
}

.right {
  float: right;
}

.left {
  float: left;
}
